/* light mode */
:root:not([style]),
:root[style*="--lwt-accent-color:rgb(227, 228, 230);"],
:root[style*="--lwt-accent-color:white;"]
{
	/* accentcolor */
	--lwt-accent-color: #dee1e6 !important;
	
	/* textcolor */
	--lwt-text-color: #606368 !important;
	
	/* toolbar */
	--toolbar-bgcolor: #fff !important;
	
	/* toolbar_text */
	--toolbar-color: #606368 !important;
	
	/* toolbar_bottom_separator */
	--toolbox-border-bottom-color: #b3b1b3 !important; /* legacy */
	--chrome-content-separator-color: #b3b1b3 !important;
	
	/* icons */
	--lwt-toolbarbutton-icon-fill: #606368 !important;
	
	/* icons_attention */
	--lwt-toolbarbutton-icon-fill-attention: #5086ec !important;
	
	/* button_background_hover */
	--lwt-toolbarbutton-hover-background: rgba(0, 0, 0, .07) !important;
	
	/* button_background_active */
	--lwt-toolbarbutton-active-background: rgba(0, 0, 0, .11) !important;
	
	--lwt-toolbar-field-color: #606368 !important;
	
	/* popup_highlight */
	--autocomplete-popup-highlight-background: #f2f2f2 !important;
	
	/* popup_highlight_text */
	--autocomplete-popup-highlight-color: #202124 !important;
}

/* don't bother with sidebar in light mode */

/* dark mode */
:root[style*="--lwt-accent-color:rgb(12, 12, 13);"],
:root[privatebrowsingmode=temporary]
{
	/* accentcolor */
	--lwt-accent-color: #34353e !important;
	
	/* textcolor */
	--lwt-text-color: #e2e4e5 !important;
	
	/* toolbar */
	--toolbar-bgcolor: #282a36 !important;
	
	/* toolbar_text */
	--toolbar-color: #e3e4e5 !important;
	
	/* toolbar_bottom_separator */
	--toolbox-border-bottom-color: #34353e !important; /* legacy */
	--chrome-content-separator-color: #34353e !important;
	
	/* icons */
	--lwt-toolbarbutton-icon-fill: #e2e4e5 !important;
	
	/* icons_attention */
	--lwt-toolbarbutton-icon-fill-attention: #57c7ff !important;
	
	/* button_background_hover */
	--lwt-toolbarbutton-hover-background: #43454F !important;
	
	/* button_background_active */
	--lwt-toolbarbutton-active-background: #a5a5a9 !important;
	
	--lwt-toolbar-field-color: #f1f1f0 !important;
	
	/* popup */
	--arrowpanel-background: #282a36 !important;
	
	/* popup_text */
	--arrowpanel-color: #e2e4e5 !important;
	--autocomplete-popup-color: #e2e4e5 !important;
	--panel-disabled-color: hsla(0, 0%, 100%, .5) !important;
	
	/* popup_border */
	--arrowpanel-border-color: #a5a5a9 !important;
	--autocomplete-popup-border-color: #a5a5a9 !important;
	
	/* popup_highlight */
	--autocomplete-popup-highlight-background: #a5a5a9 !important;
	
	/* popup_highlight_text */
	--autocomplete-popup-highlight-color: #e2e4e5 !important;
}

:-moz-any(#sidebar-box, #sidebar)[style*="--sidebar-background-color:rgb(56, 56, 61);"]
{
	/* sidebar */
	--sidebar-background-color: #282a36 !important;
	
	/* sidebar_text */
	--sidebar-text-color: #e2e4e5 !important;
}

:-moz-any(.sidebar-panel, body)[style*="--lwt-sidebar-background-color:rgb(56, 56, 61);"]
{
	/* sidebar */
	--lwt-sidebar-background-color: #282a36 !important;
	
	/* sidebar_text */
	--lwt-sidebar-text-color: #e2e4e5 !important;
}

:root
{
    --ease-in: cubic-bezier(.4, 0, 1, 1);
	--ease-out: cubic-bezier(0, 0, .2, 1);
	--ease-basic: linear;

	--button-size: 32px; /* is this used? */
	--icon-size: 24px; /* is this used? */
	
	--downloads-item-height: 48px !important;
	
	--toolbar-non-lwt-bgcolor: var(--toolbar-bgcolor) !important;
	--toolbar-non-lwt-textcolor: var(--toolbar-color) !important;
}

#titlebar,
#tabbrowser-tabs
{
 	--tab-min-height: 34px !important;
}

@supports -moz-bool-pref("materialFox.reduceTabOverflow")
{
	#tabbrowser-tabs
	{
		--tab-min-width: 32px !important;
	}
}

:root
{	
	--tab-separator-opacity: .35 !important;
	
	--toolbar-field-background-color: hsl(200, 12%, 95%) !important;
	--toolbar-field-hover-background-color: hsl(216, 12%, 92%) !important;
	--toolbar-field-focus-background-color: hsl(0, 0%, 100%) !important;
}

:root:-moz-any(:-moz-lwtheme-brighttext, [privatebrowsingmode=temporary])
{
	--toolbar-field-background-color: hsl(206, 8%, 17%) !important;
	--toolbar-field-hover-background-color: hsl(206, 7%, 20%) !important;
	--toolbar-field-focus-background-color: hsl(206, 6%, 25%) !important;
}

:root:not(:-moz-lwtheme):not([privatebrowsingmode=temporary])
{
	--toolbar-bgcolor: hsl(0, 0%, 100%) !important;
	--toolbar-color: hsl(213, 5%, 39%) !important;
	--toolbox-border-bottom-color: hsl(0, 0%, 70%) !important;
}

@media (-moz-mac-yosemite-theme)
{
	:root[extradragspace]
	{
		--space-above-tabbar: 8px !important;
	}
}

/* Ubuntu */
@media (-moz-gtk-csd-available)
{
	:root:not(:-moz-lwtheme):not([privatebrowsingmode=temporary])
	{
		--toolbar-bgcolor: -moz-dialog !important;
		--toolbar-color: -moz-dialogtext !important;
	}
}

:root:-moz-lwtheme-darktext,
:root toolbar:not([brighttext]),
.tabbrowser-tab[visuallyselected]
{
	--toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 0%, .07)) !important;
    --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 0%, .11)) !important;
}

:root:-moz-lwtheme-brighttext,
:root toolbar[brighttext],
.tabbrowser-tab[visuallyselected]:-moz-lwtheme-brighttext
{
    --toolbarbutton-hover-background: var(--lwt-toolbarbutton-hover-background, hsla(0, 0%, 100%, .1)) !important;
    --toolbarbutton-active-background: var(--lwt-toolbarbutton-active-background, hsla(0, 0%, 100%, .17)) !important;
}

/* special case for urlbar buttons */
:-moz-any(#urlbar, #searchbar)
{
	--toolbarbutton-hover-background: hsl(210, 5%, 85%) !important;
	--toolbarbutton-active-background: hsl(210, 4%, 80%) !important;
}

:root:-moz-any([privatebrowsingmode=temporary], :-moz-lwtheme-brighttext) :-moz-any(#urlbar, #searchbar)
{
	--toolbarbutton-hover-background: hsl(206, 5%, 26%) !important;
	--toolbarbutton-active-background: hsl(210, 4%, 31%) !important;
}
