/* Show title of unread tabs with red and bold font */
/*
.tab.unread .label {
  color: #ff5c57 !important;
  font-style: bold !important;
}
*/

/* Add private browsing indicator per tab */
/*
.tab.private-browsing .label:before {
  content: "🕶";
}
*/
/* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */ 
##tabbar { border: 0; overflow-y: scroll !important; margin-left: -18px !important; }
/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {
	visibility: hidden;
	margin-left: -12px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state */
.tab .label {
	margin-left: 7px;
}

/* Hover close buttons on tabs. */
.tab:not([pinned]):not(:hover) .closebox { visibility: collapse !important; }



/* Hide sound playing/muted button. */
.sound-button::before {
	display: none !important;
}

/* Hide 'new tab' button. */
.newtab-button {
	display: none;
}

/* ################################################ */
/* ##### COLOR THEME ############################## */
/* ################################################ */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
@keyframes pulse {
	0% {
		width: 0px;
		height: 0px;
		opacity: 1;
	}
	100% {
		width: 350px;
		height: 350px;
		opacity: 0;
		top: calc(50% - 175px);
		left: calc(50% - 175px);
	}
}
:root {
	background-color: #282a36;
}
#tabbar {
	border-right: 1px solid #282a36;
	box-shadow: none !important;
        background-color: #282a36;

}
.tab {
	background-color: transparent;
	color: #e2e4e5;
    border-color: #282a36;
	box-shadow: none !important;
}
.tab:hover {
	background-color: #5294e2aa !important;
	color: #e2e4e5 !important;
}
.tab.discarded {
	background-color: #282c2f;
	color: #e2e4e5 !important;
}
.tab.discarded:hover {
	background-color: #57c7ffaa !important;
}

.tab.active {
	background-color: #57c7ffaa;
}
.tab.active:hover {
	background-color: #57c7ff !important;
}


/* Adjust style for tab that has sound playing. */
.tab.sound-playing .favicon::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background: #FFFFFF;
	animation: pulse 2s ease-out 0s infinite;
	z-index: -1;
	opacity: 0;
}

/* Adjust style for tab that is muted. */
.tab.muted {
	opacity: 0.5;
}
